<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    {# {% responsiveImage "https://cdn.sanity.io/images/8bivkoxu/production/c763e4d43ffef64035de83214a2163ee123e75db-720x720.jpg", {srcs:"420,600,900", aspectRatio: "1/1", alt:"test1"} %}

{% responsiveImage "https://cdn.sanity.io/images/8bivkoxu/production/f3533b119b9fe433461316680948eb8fbd53e848-960x640.jpg", {srcs:"420,600,900", aspectRatio: "1/1", alt:"test2"} %} #}

<picture>
{% responsiveImage "/production/f3533b119b9fe433461316680948eb8fbd53e848-960x640.jpg", {srcs:"420,600,900", aspectRatio: "1/1", alt:"test2"} %}
</picture>
</body>
</html>

